<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Rock-Paper-Scissors</title>
</head>
<body>
    <h1>Welcome to RPS!</h1>
    <br>
    <br>
    <p>This is a simple URL powered game. Simply enter your R/P/S selections in the URL bar as below: <br><br>

        <b>'/rock/paper'</b> - Player 1 has selected Rock, Player 2 has selected Paper. <br>
        <b>'/paper/paper'</b> - Both Player 1 and 2 have selected Paper. <br><br>

        To play, type in your choices where welcome is currently located in the URL and press Enter!
    </p>
    
</body>
</html>