{% extends 'base.html' %}
{% block content %}


<body>
    <div>
        <br>
        <br>
        <p>This is a simple URL powered game. Simply enter your R/P/S selections in the URL bar as below: <br><br>

            <b>'/rock/paper'</b> - Player 1 has selected Rock, Player 2 has selected Paper. <br>
            <b>'/paper/paper'</b> - Both Player 1 and 2 have selected Paper. <br><br>

            To play, type in your choices where welcome is currently located in the URL and press Enter!
        </p>
    </div>

</body>

</html>

{% endblock %}