{%extends 'base.html'%}
{%block content%}

<body>
<form action="/play" method="POST">
    <label for="player1_name">Your Name:</label>
    <input type="text" name="player1_name" id="player1_name" style="text-align:center;">
    <label for="player1_choice">Your Choice:</label>
    <select name="player1_choice" id="player1_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Let's Play!" id='submit'>

</form>
</body>


{%endblock%}